<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/plat/dataTables.bootstrap.css")" />
<!--
<link rel="stylesheet" href="http://cdn.bootcss.com/datatables/1.10.7/css/jquery.dataTables.min.css">
-->
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/plat/dataTables.tableTools.css")"  />
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/plat/shepherdTheme.css")" />
<style>
 div.DTTT { margin-bottom: 0.5em; float: right; }
 div.dataTables_wrapper { clear: both; }
</style>
<title>dataTables</title>
</head>

<body>
<div class="container-fluid">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <h4>DataTables Demo</h4>
        </div>
        <div class="panel-body">
            <div id="datatable-wrapper" ></div>
        </div>
        <div class="panel-footer">描述：此表格用户分析详细信息</div>
    </div>
</div>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script> 
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
<script src="http://cdn.bootcss.com/datatables/1.10.7/js/jquery.dataTables.min.js"></script> 
<script src="@routes.Assets.at("javascripts/plat/dataTables.tableTools_2.2.4.js")" charset="utf-8"></script>
<!--
-->
<script src="@routes.Assets.at("javascripts/plat/dataTables.bootstrap.js")"></script>

<script src="@routes.Assets.at("javascripts/plat/demo_dataTables.js")"></script>
</body>
</html>
