<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/plat/jquery-jvectormap-2.0.2.css")">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/plat/shepherdTheme.css")" />
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/plat/shepherdJVectorMap.css")" />
<style>.panel-body{margin:-3px -2px;padding:2px;}</style>
<title>jvectormap</title>
</head>

<body>
<div class="container-fluid"> 
    <!-- begin row -->
    <div class="row"> 
        <!--begin col -->
        <div class="col-xs-8">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">中国地图</h4>
                </div>
                <div class="panel-body">
                    <div id="china" style="height:500px;width:100%;"></div>
                </div>
                <div class="panel-footer">Based on jVectorMaps : china</div>
            </div>
        </div>
        <!-- end col --> 
    </div>
    <!-- end row --> 
    <!-- begin row -->
    <div class="row"> 
        <!-- begin col -->
        <div class="col-xs-8">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">世界地图</h4>
                </div>
                <div class="panel-body">
                    <div id="world" style="height:500px;width:100%;"></div>
                </div>
                <div class="panel-footer">Based on jVectorMaps : world</div>
            </div>
        </div>
        <!-- end col --> 
    </div>
    <!-- end row --> 
   
</div>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script> 
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="@routes.Assets.at("javascripts/plat/jquery-jvectormap-2.0.2.min.js")"></script>
<script src="@routes.Assets.at("javascripts/plat/jquery-jvectormap-cn-merc-en.js")"></script>
<script src="@routes.Assets.at("javascripts/plat/jquery-jvectormap-world-mill-en.js")"></script>
<script src="@routes.Assets.at("javascripts/plat/demo_jvectormap.js")"></script>
</body>
</html>



























