<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/angular.js/1.3.8/angular.min.js"></script>
<title>无标题文档</title>
</head>

<body>
	<iframe src="http://172.16.10.23:9000/demo5"
		style="width: 100%; height: 500px;"></iframe>
	<!--  
	<embed src="http://player.youku.com/player.php/sid/XODA2MjM4NjM2/v.swf"
		width="100%" height="document.body.clientWidth/1.7"
		allowFullScreen="true" quality="high" align="middle"
		allowScriptAccess="always" type="application/x-shockwave-flash"
		wmode="transparent">
	-->
	
</body>

</html>
