<!DOCTYPE html>
<html lang="zh-CH">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>快牙</title>
<link rel="stylesheet" href="http://cdn.bootcss.com/fullPage.js/2.6.5/jquery.fullPage.css" />
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/cn_web.css")" />
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/fullPage.js/2.6.5/jquery.fullPage.js"></script>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script src="@routes.Assets.at("javascripts/cn_web.js")"></script> 
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?a9c52a64ff3d29699e069c5c4cdaaa79";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<style>
#fp-nav ul li a.active span{background:#4b9cda;}
#fp-nav ul li a span{background:#fff;}
</style>
</head>

<body>
<div class="change_link" id="cn_web_changeLanguage" >
  <a onclick="window.location.href='/en_web';" onclick="_hmt.push(['_trackEvent', 'changeLanguage', 'click', 'cn2en']);"><img  src="@routes.Assets.at("images/image_cn_web/eng.png")"/></a>
</div>
<!-- end of change_link -->
<div class="logo"></div>
<!-- end of logo -->

<div class="nag">
<!--
    <div class="active"></div>
    <div class="normal"></div>
    <div class="normal"></div>
    <div class="normal"></div>
    <div class="normal"></div>
    <div class="normal"></div>
    <div class="normal"></div>
    <div class="normal"></div>
    <div class="normal"></div>
    <div class="normal"></div>
    <div class="normal"></div>
-->
    <div id="download_img" class="download_img">
        <div class="show_btn" style="display:;">
            <a id="cn_down_android" class="btn_icon" onclick="_hmt.push(['_trackEvent', 'downloadBtn', 'click', 'cn_down_android']);"><span>Android正式版</span></a>
            <a id="cn_down_ios" class="btn_icon" onclick="_hmt.push(['_trackEvent', 'downloadBtn', 'click', 'cn_down_ios']);"><span>IOS正式版</span></a>
            <a id="cn_down_winphone" class="btn_icon" onclick="_hmt.push(['_trackEvent', 'downloadBtn', 'click', 'cn_down_winphone']);"><span>WindwsPhone</span></a>
            <a id="cn_down_ios_break" class="btn_icon" onclick="_hmt.push(['_trackEvent', 'downloadBtn', 'click', 'cn_down_ios_break']);"><span>IOS越狱版</span></a>
            <a id="cn_down_pc" class="btn_icon" onclick="_hmt.push(['_trackEvent', 'downloadBtn', 'click', 'cn_down_pc']);"><span>电脑版</span></a>
            <a id="cn_down_mac" class="btn_icon" onclick="_hmt.push(['_trackEvent', 'downloadBtn', 'click', 'cn_down_mac']);"><span>Mac PC</span></a>
        </div>
    </div>
</div>

<!-- end of nag -->

<div id="pageScreen">
<div class="page_bg p1" >
    <div class="shuzi"></div>
    <div class="p1_title"></div>
    <div class="smimg">
        <ul>
            <li class="sm01"></li>
            <li class="sm02"></li>
            <li class="sm03"></li>
            <li class="sm04"></li>
            <li class="sm05"></li>
            <li class="sm06"></li>
            <li class="sm07"></li>
            <li class="sm08"></li>
            <li class="sm09"></li>
            <li class="sm10"></li>
            <li class="sm11"></li>
        </ul>
    </div> 
</div>
<!-- end of p1 -->

<div class="page_bg p2" >
    <div class="rpc"></div>
    <div class="p2_title"></div>
    <div class="p2_text">
        零流量/跨平台/超级快        <br />
        三平台连接 横跨安卓/苹果/PC  <br />
        技术优越感 秒杀蓝牙/NFC/Airdrop
    </div>
    <div class="p2_mobile01 yingzi">
        <div class="mo01"></div>
    </div>
    <div class="p2_mobile02">
        <div class="mo02"></div>
    </div>
    <div class="p2_icons">
        <div class="p2_icon01"></div>
        <div class="p2_icon02"></div>
        <div class="p2_icon03"></div>
        <div class="p2_icon04"></div>
        <div class="p2_icon05"></div>
        <div class="p2_icon06"></div>
        <div class="p2_icon07"></div>
    </div>
</div>
<!-- end of p2-->

<div class="page_bg p3" >
    <div class="p3_dengbox">
        <div class="deng03"></div>
        <div class="deng02"></div>
        <div class="deng01"></div>
        <div class="deng"></div>
    </div>
    <div class="p3_title"></div>
    <div class="p3_text">
        二十款对战游戏 格斗足球打泡泡<br />
        业界良心插件 熬夜看片儿好福利
    </div>
    <div class="gameicon"></div>
    <div class="topgame"></div>
    <div class="bottomgame"></div>
    <div class="ball"></div>
    <div></div>
</div>
<!-- end of p3 -->

<div class="page_bg p4" >
    <div class="p4_bg"></div>
    <div class="p4_title"></div>
    <div class="p4_text">一路爽滑通畅 大波英雄好汉乱入</div>
    <div class="p4_mobile">
        <div class="p4mo01"></div>
        <div class="p4mo02"></div>
        <div class="leida">
            <div class="saomiao"></div>
            <div class="p4img01">
                <div class="p4img01_s"></div>
            </div>
            <div class="p4img02">
                <div class="p4img02_s"></div>
            </div>
            <div class="p4img03">
                <div class="p4img03_s"></div>
            </div>
            <div class="p4img04">
                <div class="p4img04_s"></div>
            </div>
            <div class="p4img05">
                <div class="p4img05_s"></div>
            </div>
            <div class="p4img06">
                <div class="p4img06_s"></div>
            </div>
        </div>
    </div>
</div>
<!-- end of p4 -->

<div class="page_bg p5" >
    <div class="p5_title"></div>
    <div class="p5_text">新增传输进度条 时刻掌控心里踏实</div>
    <div class="p5_mobile">
        <div class="waiquan">
            <div class="temp_image"></div>
        </div>
    </div>
</div>
<!-- end of p5 -->

<div class="page_bg p6" >
    <div class="p6_title"></div>
    <div class="p6_text">改版音乐播放器 大屏的，好看的</div>
    <div class="p6_mobile01"></div>
    <div class="p6_mobile02"></div>
    <div class="p6_bg"></div>
</div>
<!-- end of p6 -->

<div class="page_bg p7" >
    <div class="p7_title"></div>
    <div class="p7_text">主动聊天或暗淘手机 闷骚男小福利</div>
    <div class="p7_mobile">
        <div class="p7img01"></div>
        <div class="p7img02"></div>
        <div class="p7img03"></div>
        <div class="p7img04"></div>
    </div>
</div>
<!-- end of p7 -->

<div class="page_bg p8" >
    <div class="p8_title"></div>
    <div class="p8_text">收件空间一键清理 接片儿再没顾虑</div>
    <div class="p8_mobile"></div>
    <div class="ljt">
        <div class="lajikuang"></div>
        <div class="laji"></div>
        <div class="lajigaizi"></div>
    </div>
</div>
<!-- end of p8 -->

<div class="page_bg p9" >
    <div class="p9_box">
        <div class="saowo"></div>
        <div class="ewm"></div>
        <div class="p9_text"></div>
    </div>
    <div class="copyright">
        <p class="cpname">快牙苹果版/电脑版 已同步上线</p>
        <p>Copyright ? 2015 kuaiya.cn. All Rights Reserved 京ICP证140605号 京公网安备11010802009027号</p>
    </div>
</div>
<!-- end of p9 -->
</div>
<!-- end of pageScreen -->

</body>

</html>