<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="target-densitydpi=device-dpi,width=640,user-scalable=no">
<title>快牙Zapya</title>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/cn_wap.css")" />
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script> 
<script src="@routes.Assets.at("javascripts/cn_wap.js")"></script>
<style>
*{font-family:"Microsoft YaHei"}
</style>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?a9c52a64ff3d29699e069c5c4cdaaa79";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>

<body>
<div class="floatdownload">
    <a href="#">
        <img src="@routes.Assets.at("images/image_cn_wap/kuaiya_wap_btn_download.png")" width="100">
    </a>
</div>
<div class="pageScreen">
    <div class="page p1">
        <div class="wrap">
            <img class="p1_img1" src="@routes.Assets.at("images/image_cn_wap/cover.png")"/>
            <img class="p1_img2" src="@routes.Assets.at("images/image_cn_wap/wording_cover.png")" />
            <img class="p1_img3" src="@routes.Assets.at("images/image_cn_wap/xiaoren.png")" />
        </div>
    </div>
    <div class="page p2">
        <div class="wrap">
            <img class="p2_img1" src="@routes.Assets.at("images/image_cn_wap/a2_wenzi.png")"/>
        </div>
    </div>
    <div class="page p3">
        <div class="wrap">
            <img class="p3_img1" src="@routes.Assets.at("images/image_cn_wap/ball.png")"/>
        </div>
    </div>
    <div class="page p4"></div>
    <div class="page p5"></div>
    <div class="page p6">
        <div class="wrap">
            <img class="p6_img" src="@routes.Assets.at("images/image_cn_wap/a6mobile.png")"/>
        </div>
    </div>
    <div class="page p7"></div>
    <div class="page p8"></div>
    <div class="page p9">
      <div class="wrap">
          <a>
              <img class="p9_img1" src="@routes.Assets.at("images/image_cn_wap/download.png")"/>
          </a>
      </div>
    </div>
</div>
</body>

</html>
