<!DOCTYPE html>
<html lang="zh-CH">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/pluginPage.css")" type="text/css" >
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<title>无标题文档</title>
</head>
<!-- 
<div class="playerDiv playerDiv4by3">
  <iframe id="player" class="player" src="http://player.youku.com/embed/XNTg5MDIxOTQ0" ></iframe>
</div>
 -->
<body>      
	<div class="container-fluid">
    <div id="playerContainer">
    <div class="row">
      <div class="embed-responsive embed-responsive-4by3">
        <iframe id="player" class="" src="http://player.youku.com/embed/XNzgyMjQ2MzA0" ></iframe>
      </div>
      <div id="hintPic"><img src="@routes.Assets.at("images/icon.png")" class=""/></div>
      <div id="popOver"></div>
    </div><!-- end of row1 -->
    </div><!--  end of playerContainer -->
    
    
    
    <div id="listContainer">
        <div class="row cellTable" data-url="http://player.youku.com/embed/XNzQ4NDI2NjY4" data-cid="6786299" style="background-color: rgb(217, 225, 229);">
            <table>
              <tbody>
                <tr>
                  <td>
                    <div class="cardImg">
                      <a><img src="http://211.151.121.174/v2/images/a/2296554.jpg" class=" img-rounded cardThumbnail"></a>
                      <div class="userAction">
                        <div class="divBo">
                          <img src="@routes.Assets.at("images/kuaina_common_icon_bo.png")" class="bo"><span class="boNum">5555555</span>
                        </div>
                        <div class="divZan" data-cid="6786299">
                          <img src="@routes.Assets.at("images/kuaina_common_icon_card_zan.png")" class="zan"><img src="@routes.Assets.at("images/kuaina_common_icon_card_zan_pressed.png")" class="zan" style="display:none"><span class="zanNum">2999994</span>
                        </div>
                      </div><!-- end of userAction -->
                    </div><!-- end of cardImg -->
                  </td>
                  <td>
                    <div class="content">
                      <div class="userCell">
                        <div class="userImg">
                          
                            <img src="http://211.151.121.177/v2/images/a/2296535.jpg" class="img-circle userThumbnail">
                          
                        </div><!-- end of userImg -->
                        <div class="userInfo">
                          <div class="userName">女汉子</div>
                          <div class="userDate"><span class="timeStamp">03月16日 18:56</span>&nbsp;&nbsp;推荐</div>
                        </div><!-- end of userInfo -->
                      </div><!-- end of userCell -->
                      <div class="cardTitle">
                        <strong><span>一大波乌克兰“女汉子”街头秀肌肉！一大波乌克兰“女汉子”街头秀肌肉！</span></strong>
                      </div><!-- end of cardTitle -->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>  
          </div><!-- end of cellTable -->
          
        <div class="row cellTable" data-url="http://player.youku.com/embed/XOTEyOTI1MjQw" data-cid="6786292">
            <table>
              <tbody>
                <tr>
                  <td>
                    <div class="cardImg">
                      <a><img src="http://211.151.121.174/v2/images/a/2296566.jpg" class=" img-rounded cardThumbnail"></a>
                      <div class="userAction">
                        <div class="divBo">
                          <img src="@routes.Assets.at("images/kuaina_common_icon_bo.png")" class="bo"><span class="boNum">205</span>
                        </div>
                        <div class="divZan" data-cid="6786292">
                          <img src="@routes.Assets.at("images/kuaina_common_icon_card_zan.png")" class="zan"><img src="@routes.Assets.at("images/kuaina_common_icon_card_zan_pressed.png")" class="zan" style="display:none"><span class="zanNum">9</span>
                        </div>
                      </div><!-- end of userAction -->
                    </div><!-- end of cardImg -->
                  </td>
                  <td>
                    <div class="content">
                      <div class="userCell">
                        <div class="userImg">
                          
                            <img src="http://211.151.121.177/v2/images/a/2296535.jpg" class="img-circle userThumbnail">
                          
                        </div><!-- end of userImg -->
                        <div class="userInfo">
                          <div class="userName">女汉子</div>
                          <div class="userDate"><span class="timeStamp">03月16日 18:52</span>&nbsp;&nbsp;推荐</div>
                        </div><!-- end of userInfo -->
                      </div><!-- end of userCell -->
                      <div class="cardTitle">
                        <strong><span>最性感的暴力美！精钢芭比用大腿夹烂西瓜！！！</span></strong>
                      </div><!-- end of cardTitle -->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>  
          </div><!-- end of cellTable -->
          
        <div class="row cellTable" data-url="http://player.youku.com/embed/XNzgyMjQ2MzA0" data-cid="6786306">
            <table>
              <tbody>
                <tr>
                  <td>
                    <div class="cardImg">
                      <a><img src="http://211.151.121.174/v2/images/a/2296560.jpg" class=" img-rounded cardThumbnail"></a>
                      <div class="userAction">
                        <div class="divBo">
                          <img src="@routes.Assets.at("images/kuaina_common_icon_bo.png")" class="bo"><span class="boNum">214</span>
                        </div>
                        <div class="divZan" data-cid="6786306">
                          <img src="@routes.Assets.at("images/kuaina_common_icon_card_zan.png")" class="zan"><img src="@routes.Assets.at("images/kuaina_common_icon_card_zan_pressed.png")" class="zan" style="display:none"><span class="zanNum">17</span>
                        </div>
                      </div><!-- end of userAction -->
                    </div><!-- end of cardImg -->
                  </td>
                  <td>
                    <div class="content">
                      <div class="userCell">
                        <div class="userImg">
                          
                            <img src="http://211.151.121.177/v2/images/a/2296535.jpg" class="img-circle userThumbnail">
                          
                        </div><!-- end of userImg -->
                        <div class="userInfo">
                          <div class="userName">女汉子</div>
                          <div class="userDate"><span class="timeStamp">03月16日 19:01</span>&nbsp;&nbsp;推荐</div>
                        </div><!-- end of userInfo -->
                      </div><!-- end of userCell -->
                      <div class="cardTitle">
                        <strong><span>1分钟84个！萌妹做俯卧撑完爆美国大兵！</span></strong>
                      </div><!-- end of cardTitle -->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>  
          </div><!-- end of cellTable -->
          
        <div class="row cellTable" data-url="http://player.youku.com/embed/XODc0NDY2MDQ4" data-cid="6786298">
            <table>
              <tbody>
                <tr>
                  <td>
                    <div class="cardImg">
                      <a><img src="http://211.151.121.174/v2/images/a/2296556.jpg" class=" img-rounded cardThumbnail"></a>
                      <div class="userAction">
                        <div class="divBo">
                          <img src="@routes.Assets.at("images/kuaina_common_icon_bo.png")" class="bo"><span class="boNum">63</span>
                        </div>
                        <div class="divZan" data-cid="6786298">
                          <img src="@routes.Assets.at("images/kuaina_common_icon_card_zan.png")" class="zan"><img src="@routes.Assets.at("images/kuaina_common_icon_card_zan_pressed.png")" class="zan" style="display:none"><span class="zanNum">4</span>
                        </div>
                      </div><!-- end of userAction -->
                    </div><!-- end of cardImg -->
                  </td>
                  <td>
                    <div class="content">
                      <div class="userCell">
                        <div class="userImg">
                          
                            <img src="http://211.151.121.177/v2/images/a/2296535.jpg" class="img-circle userThumbnail">
                          
                        </div><!-- end of userImg -->
                        <div class="userInfo">
                          <div class="userName">女汉子</div>
                          <div class="userDate"><span class="timeStamp">03月16日 18:55</span>&nbsp;&nbsp;推荐</div>
                        </div><!-- end of userInfo -->
                      </div><!-- end of userCell -->
                      <div class="cardTitle">
                        <strong><span>女汉子单杠健身演绎“太空漫步”致敬MJ~</span></strong>
                      </div><!-- end of cardTitle -->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>  
          </div><!-- end of cellTable -->
          
        <div class="row cellTable" data-url="http://player.youku.com/embed/XNzUwOTkzNDU2" data-cid="6786305">
            <table>
              <tbody>
                <tr>
                  <td>
                    <div class="cardImg">
                      <a><img src="http://211.151.121.174/v2/images/a/2296559.jpg" class=" img-rounded cardThumbnail"></a>
                      <div class="userAction">
                        <div class="divBo">
                          <img src="@routes.Assets.at("images/kuaina_common_icon_bo.png")" class="bo"><span class="boNum">64</span>
                        </div>
                        <div class="divZan" data-cid="6786305">
                          <img src="@routes.Assets.at("images/kuaina_common_icon_card_zan.png")" class="zan"><img src="@routes.Assets.at("images/kuaina_common_icon_card_zan_pressed.png")" class="zan" style="display:none"><span class="zanNum">3</span>
                        </div>
                      </div><!-- end of userAction -->
                    </div><!-- end of cardImg -->
                  </td>
                  <td>
                    <div class="content">
                      <div class="userCell">
                        <div class="userImg">
                          
                            <img src="http://211.151.121.177/v2/images/a/2296535.jpg" class="img-circle userThumbnail">
                          
                        </div><!-- end of userImg -->
                        <div class="userInfo">
                          <div class="userName">女汉子</div>
                          <div class="userDate"><span class="timeStamp">03月16日 19:00</span>&nbsp;&nbsp;推荐</div>
                        </div><!-- end of userInfo -->
                      </div><!-- end of userCell -->
                      <div class="cardTitle">
                        <strong><span>颤抖吧骚年~女汉子大招“独孤求败”！</span></strong>
                      </div><!-- end of cardTitle -->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>  
          </div><!-- end of cellTable -->
          
          <div class="row cellTable" data-url="http://player.youku.com/embed/XNzQ4NDI2NjY4" data-cid="6786299" style="background-color: rgb(217, 225, 229);">
            <table>
              <tbody>
                <tr>
                  <td>
                    <div class="cardImg">
                      <a><img src="http://211.151.121.174/v2/images/a/2296554.jpg" class=" img-rounded cardThumbnail"></a>
                      <div class="userAction">
                        <div class="divBo">
                          <img src="@routes.Assets.at("images/kuaina_common_icon_bo.png")" class="bo"><span class="boNum">203</span>
                        </div>
                        <div class="divZan" data-cid="6786299">
                          <img src="@routes.Assets.at("images/kuaina_common_icon_card_zan.png")" class="zan"><img src="@routes.Assets.at("images/kuaina_common_icon_card_zan_pressed.png")" class="zan" style="display:none"><span class="zanNum">24</span>
                        </div>
                      </div><!-- end of userAction -->
                    </div><!-- end of cardImg -->
                  </td>
                  <td>
                    <div class="content">
                      <div class="userCell">
                        <div class="userImg">
                          
                            <img src="http://211.151.121.177/v2/images/a/2296535.jpg" class="img-circle userThumbnail">
                          
                        </div><!-- end of userImg -->
                        <div class="userInfo">
                          <div class="userName">女汉子</div>
                          <div class="userDate"><span class="timeStamp">03月16日 18:56</span>&nbsp;&nbsp;推荐</div>
                        </div><!-- end of userInfo -->
                      </div><!-- end of userCell -->
                      <div class="cardTitle">
                        <strong><span>一大波乌克兰“女汉子”街头秀肌肉！</span></strong>
                      </div><!-- end of cardTitle -->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>  
          </div><!-- end of cellTable -->
          
        <div class="row cellTable" data-url="http://player.youku.com/embed/XOTEyOTI1MjQw" data-cid="6786292">
            <table>
              <tbody>
                <tr>
                  <td>
                    <div class="cardImg">
                      <a><img src="http://211.151.121.174/v2/images/a/2296566.jpg" class=" img-rounded cardThumbnail"></a>
                      <div class="userAction">
                        <div class="divBo">
                          <img src="@routes.Assets.at("images/kuaina_common_icon_bo.png")" class="bo"><span class="boNum">205</span>
                        </div>
                        <div class="divZan" data-cid="6786292">
                          <img src="@routes.Assets.at("images/kuaina_common_icon_card_zan.png")" class="zan"><img src="@routes.Assets.at("images/kuaina_common_icon_card_zan_pressed.png")" class="zan" style="display:none"><span class="zanNum">9</span>
                        </div>
                      </div><!-- end of userAction -->
                    </div><!-- end of cardImg -->
                  </td>
                  <td>
                    <div class="content">
                      <div class="userCell">
                        <div class="userImg">
                          
                            <img src="http://211.151.121.177/v2/images/a/2296535.jpg" class="img-circle userThumbnail">
                          
                        </div><!-- end of userImg -->
                        <div class="userInfo">
                          <div class="userName">女汉子</div>
                          <div class="userDate"><span class="timeStamp">03月16日 18:52</span>&nbsp;&nbsp;推荐</div>
                        </div><!-- end of userInfo -->
                      </div><!-- end of userCell -->
                      <div class="cardTitle">
                        <strong><span>最性感的暴力美！精钢芭比用大腿夹烂西瓜！！！</span></strong>
                      </div><!-- end of cardTitle -->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>  
          </div><!-- end of cellTable -->
          
        <div class="row cellTable" data-url="http://player.youku.com/embed/XNzgyMjQ2MzA0" data-cid="6786306">
            <table>
              <tbody>
                <tr>
                  <td>
                    <div class="cardImg">
                      <a><img src="http://211.151.121.174/v2/images/a/2296560.jpg" class=" img-rounded cardThumbnail"></a>
                      <div class="userAction">
                        <div class="divBo">
                          <img src="@routes.Assets.at("images/kuaina_common_icon_bo.png")" class="bo"><span class="boNum">214</span>
                        </div>
                        <div class="divZan" data-cid="6786306">
                          <img src="@routes.Assets.at("images/kuaina_common_icon_card_zan.png")" class="zan"><img src="@routes.Assets.at("images/kuaina_common_icon_card_zan_pressed.png")" class="zan" style="display:none"><span class="zanNum">17</span>
                        </div>
                      </div><!-- end of userAction -->
                    </div><!-- end of cardImg -->
                  </td>
                  <td>
                    <div class="content">
                      <div class="userCell">
                        <div class="userImg">
                          
                            <img src="http://211.151.121.177/v2/images/a/2296535.jpg" class="img-circle userThumbnail">
                          
                        </div><!-- end of userImg -->
                        <div class="userInfo">
                          <div class="userName">女汉子</div>
                          <div class="userDate"><span class="timeStamp">03月16日 19:01</span>&nbsp;&nbsp;推荐</div>
                        </div><!-- end of userInfo -->
                      </div><!-- end of userCell -->
                      <div class="cardTitle">
                        <strong><span>1分钟84个！萌妹做俯卧撑完爆美国大兵！</span></strong>
                      </div><!-- end of cardTitle -->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>  
          </div><!-- end of cellTable -->
          
        <div class="row cellTable" data-url="http://player.youku.com/embed/XODc0NDY2MDQ4" data-cid="6786298">
            <table>
              <tbody>
                <tr>
                  <td>
                    <div class="cardImg">
                      <a><img src="http://211.151.121.174/v2/images/a/2296556.jpg" class=" img-rounded cardThumbnail"></a>
                      <div class="userAction">
                        <div class="divBo">
                          <img src="@routes.Assets.at("images/kuaina_common_icon_bo.png")" class="bo"><span class="boNum">63</span>
                        </div>
                        <div class="divZan" data-cid="6786298">
                          <img src="@routes.Assets.at("images/kuaina_common_icon_card_zan.png")" class="zan"><img src="@routes.Assets.at("images/kuaina_common_icon_card_zan_pressed.png")" class="zan" style="display:none"><span class="zanNum">4</span>
                        </div>
                      </div><!-- end of userAction -->
                    </div><!-- end of cardImg -->
                  </td>
                  <td>
                    <div class="content">
                      <div class="userCell">
                        <div class="userImg">
                          
                            <img src="http://211.151.121.177/v2/images/a/2296535.jpg" class="img-circle userThumbnail">
                          
                        </div><!-- end of userImg -->
                        <div class="userInfo">
                          <div class="userName">女汉子</div>
                          <div class="userDate"><span class="timeStamp">03月16日 18:55</span>&nbsp;&nbsp;推荐</div>
                        </div><!-- end of userInfo -->
                      </div><!-- end of userCell -->
                      <div class="cardTitle">
                        <strong><span>女汉子单杠健身演绎“太空漫步”致敬MJ~</span></strong>
                      </div><!-- end of cardTitle -->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>  
          </div><!-- end of cellTable -->
          
        <div class="row cellTable" data-url="http://player.youku.com/embed/XNzUwOTkzNDU2" data-cid="6786305">
            <table>
              <tbody>
                <tr>
                  <td>
                    <div class="cardImg">
                      <a><img src="http://211.151.121.174/v2/images/a/2296559.jpg" class=" img-rounded cardThumbnail"></a>
                      <div class="userAction">
                        <div class="divBo">
                          <img src="@routes.Assets.at("images/kuaina_common_icon_bo.png")" class="bo"><span class="boNum">64</span>
                        </div>
                        <div class="divZan" data-cid="6786305">
                          <img src="@routes.Assets.at("images/kuaina_common_icon_card_zan.png")" class="zan"><img src="@routes.Assets.at("images/kuaina_common_icon_card_zan_pressed.png")" class="zan" style="display:none"><span class="zanNum">3</span>
                        </div>
                      </div><!-- end of userAction -->
                    </div><!-- end of cardImg -->
                  </td>
                  <td>
                    <div class="content">
                      <div class="userCell">
                        <div class="userImg">
                          
                            <img src="http://211.151.121.177/v2/images/a/2296535.jpg" class="img-circle userThumbnail">
                          
                        </div><!-- end of userImg -->
                        <div class="userInfo">
                          <div class="userName">女汉子</div>
                          <div class="userDate"><span class="timeStamp">03月16日 19:00</span>&nbsp;&nbsp;推荐</div>
                        </div><!-- end of userInfo -->
                      </div><!-- end of userCell -->
                      <div class="cardTitle">
                        <strong><span>颤抖吧骚年~女汉子大招“独孤求败”！</span></strong>
                      </div><!-- end of cardTitle -->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>  
          </div><!-- end of cellTable -->
          
    </div><!-- end of listContainer -->

  </div><!-- end of container -->
</body>
<script src="@routes.Assets.at("javascripts/pluginPage.js")"></script>
</html>
