<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/kn.css")" />
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/angular.js/1.3.8/angular.min.js"></script>
<script src="@routes.Assets.at("javascripts/kn.js")"></script>
<title>无标题文档</title>
</head>

<body>
	<div class="container-box">
		<!--
 <div class="cell">
      <div class="cell-img"><img src="2251708.jpg" class="img-rounded"></div>
      <img class="tail" src="tail.png"/>
      <div class="cell-content">
        <div class="album-title">王大锤的幸福生活</div>
        <div class="album-description">无节操新闻联播的魅力在于换任何台都可以看见完整的视频</div>
        <div class="album-index">
          <div class="dz"><img src="kuaina_conmon_icon_card_zan.png"/>35</div>
          <div class="dy"><img src="kuaina_conmon_icon_ren.png"/>23</div>
        </div>
      </div>
    </div>
-->
		<div class="container-head">
			<span>饕 餮 大 餐， 等 你 来 享 ！</span>
		</div>
		<div class="container-body"></div>
		<!-- end of container-body -->

	</div>
	<!-- end of container-box -->
</body>
</html>
