<!DOCTYPE html>
<html lang="zh-CH">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>快牙</title>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/en_web.css")" />
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="@routes.Assets.at("javascripts/en_web.js")"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?a9c52a64ff3d29699e069c5c4cdaaa79";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>

<body>
<div class="change_link" id="en_web_changeLanguage">
    <a onclick="window.location.href='/cn_web';" onclick="_hmt.push(['_trackEvent', 'changeLanguage', 'click', 'en2cn']);"><img src="@routes.Assets.at("images/image_en_web/chs.png")"/></a>
</div>
<div class="nag">
    <div class="download">
        <div class="showdown" style="width: 307.526666666667px; height: 195.6px; display:none ;">
            <a href="#" id="en_down_android" class="andriod" onclick="_hmt.push(['_trackEvent', 'downloadBtn', 'click', 'en_down_android']);"><span>快牙体验版</span></a>
		    <a href="#" id="en_down_ios" class="andriod" onclick="_hmt.push(['_trackEvent', 'downloadBtn', 'click', 'en_down_ios']);"><span>苹果正式版</span></a>
		    <a href="#" id="en_down_winphone" class="andriod" onclick="_hmt.push(['_trackEvent', 'downloadBtn', 'click', 'en_down_winphone']);"><span>windows phone</span></a>
		    <a href="#" id="en_down_ios_break" class="andriod" onclick="_hmt.push(['_trackEvent', 'downloadBtn', 'click', 'en_down_ios_break']);"><span>苹果越狱版</span></a>
		    <a href="#" id="en_down_pc" class="andriod" onclick="_hmt.push(['_trackEvent', 'downloadBtn', 'click', 'en_down_pc']);"><span>电脑版</span></a>
		    <a href="#" id="en_down_mac" class="andriod" onclick="_hmt.push(['_trackEvent', 'downloadBtn', 'click', 'en_down_mac']);"><span>MAC版</span></a>
	    </div>
    </div>
</div>
<div class="logo"></div>
<div class="pageScreen">
    <div class="page p1"></div>
    <div class="page p2"></div>
    <div class="page p3"></div>
    <div class="page p4"></div>
    <div class="page p5"></div>
    <div class="page p6"></div>
    <div class="page p7"></div>
    <div class="page p8"></div>
</div>
</body>

<script>
    
</script>
</html>