<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="target-densitydpi=device-dpi,width=640,user-scalable=no">
<title>izaypa</title>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/en_wap.css")" />
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="@routes.Assets.at("javascripts/en_wap.js")"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?a9c52a64ff3d29699e069c5c4cdaaa79";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>

<body>
<div class="download">
    <a>
    <img src="@routes.Assets.at("images/image_en_wap/zapya_wap_btn_download_normal.png")"/>
    </a>
</div>
<div class="pageScreen">
    <div class="page p1"></div>
    <div class="page p2"></div>
    <div class="page p3"></div>
    <div class="page p4"></div>
    <div class="page p5"></div>
    <div class="page p6"></div>
    <div class="page p7"></div>
    <div class="page p8">
        <div class="googleplay">
            <a><img src="@routes.Assets.at("images/image_en_wap/share.jpg")"/></a>
        </div>
        <div class="facebook">
            <a><img src="@routes.Assets.at("images/image_en_wap/share-02.jpg")"/></a>
        </div>
        <div class="sina">
            <a><img src="@routes.Assets.at("images/image_en_wap/share-03.jpg")"/></a>
        </div>
        <div class="down_btn">
            <a><img src="@routes.Assets.at("images/image_en_wap/mail.jpg")"/></a>
            <a><img src="@routes.Assets.at("images/image_en_wap/mail-02.jpg")"/></a>
        </div>
    </div>
</div>
</body>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
</html>
